{% extends 'portfolio/base.html' %}
{% load staticfiles %}

{% block title%}{{"Leila Sunier | Music"}} {% endblock %}
<!--[if lt IE 9]>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 9) | (!IE)]><!-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <!--<![endif]-->

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% block javascript %}
{% endblock %}

{% block content %}
  {% if latest_music_list %}
    {% for song in latest_music_list %}
      music.title
    {% endfor %}
  {% else %}
    <p>No music has been posted</p>
  {% endif %}
{% endblock %}